h1{
    color: aquamarine;
    background-color: coral;
   //background-color: #FFC7C7;
   display: inline-flex;
   span{
      color:coral;
       background-color: aquamarine;
      
   }
   animation:forwards;
   animation-duration: 2s;
   animation-delay: 1s;
}
body{
    color: #8785A2;
    background-color:#F6F6F6;


    
}
.pic{
  border-radius: 50%;

max-width: 1000px;
width: 100%;
 align-items: center;
}

h2{color: #8785A2;}




